

    <!-- <div id="outer-container" style="background-color: #6fa5d1;">
        <div class="row justify-content-center">
            <div class="col-md-6">
                
                <button class="btn">Sign In with Email</button>
            </div>
        </div>
    </div> -->

    <div class="container" id="outer-container" style="background-color: #6fa5d1;">
    <div class="container py-5 ">
      <div class="row d-flex justify-content-center align-items-center ">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
              <h2 class="text-uppercase text-center mb-2">How do you want to sign up?</h2>
            
              
              <button class="btn" (click)="onClickEmail()">Continue with Email</button>
              <div class=" form-row align-self-center justify-content-center mt-4">
                <p>Already a member? <a class="nav-link" (click)="onClickSignIn()">Log In!</a></p>
              </div>
             
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
