
<div class="container" id="outer-container" style="background-color: #6fa5d1;">
    <div class="container py-5 ">
      <div class="row d-flex justify-content-center align-items-center ">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
              <h2 class="text-uppercase text-center mb-2">Define your password</h2>
              <form [formGroup]="passwordForm" (ngSubmit)="onSubmit() " autocomplete="on">
          
            
                  <div class="form-group ">
                    <label for="inputPassword4">It must have at least 8 characters, 1 letter, 1 number and 1 special character.</label>
                   
                    <div class="d-flex">
                      <input [type]="visible?'password':'text'" class="form-control  " id="inputPassword4"
                        formControlName="password" 
                        [ngClass]="{'is-invalid': passwordForm.get('password')?.errors && (passwordForm.get('password')?.touched || passwordForm.get('password')?.dirty), 'is-valid':passwordForm.get('password')?.valid}"
                        placeholder="Password">
                      <span class="eyeicon col  align-self-center justify-content-center">
                        <i  [ngClass]="visible?'fa fa-eye':'fa fa-eye-slash'" (click)="viewPassword()"></i>
                      </span>
                    </div>
                    <div *ngIf="passwordForm.get('password')?.invalid && (passwordForm.get('password')?.touched || passwordForm.get('password')?.dirty) "
                    class="alert alert-danger">
                    <div *ngIf="passwordForm.get('password')?.errors?.['required']">
                      Password is required.
                    </div>
                    <div *ngIf="passwordForm.get('password')?.errors?.['pattern']">
                      Password must be at least eight characters, at least one uppercase letter, one lowercase letter, one number and one special character:
                    </div>
                   
                    </div>
                  </div>
              
                <button type="submit" *ngIf="passwordForm.valid" class="btn btn-primary btn-lg btn-block">Submit</button>
                </form>

            </div>
          </div>
        </div>
      </div>
    </div>
</div>
